{% extends "base.html" %}

{% block title %}Login - EduFlow LMS{% endblock %}

{% block content %}
<div>
    <h1 style="border: black 2px solid;background-color: rgb(91, 179, 179);font-size: larger;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;height: 50px;color: black;margin-top: 10px;padding-top: 10px;">Learning Mangement System</h1>
    <p style="background-color: bisque;color: black;margin-left: 150px;margin-right: 150px;padding-left: 50px;padding-right: 50px;font-size: 30px;padding-top: 10px;padding-bottom: 10px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae corrupti quisquam doloremque perspiciatis sequi temporibus voluptate quam et. Esse, eos asperiores! Nesciunt iste, alias aut dolorem perspiciatis provident odio tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestiae? Placeat, vero. Eveniet consequuntur ex officia sit omnis explicabo aliquid quidem magnam possimus. Maiores facere magni repellendus nemo minus amet?</p>
</div>
{% endblock %}